name: ddev-craftcms-vite
type: craftcms
docroot: web
php_version: "8.2"
webserver_type: nginx-fpm
router_http_port: "80"
router_https_port: "443"
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
database:
    type: mysql
    version: "8.0"
use_dns_when_possible: true
composer_version: "2"
web_environment:
    - GITPOD_WORKSPACE_URL
    - CODESPACES
    - CODESPACE_NAME
    - GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN
nodejs_version: "20.13.1"
corepack_enable: false
web_extra_exposed_ports:
    - name: craft-vite
      container_port: 5173
      http_port: 5172
      https_port: 5173